.section {
  width: 100%;
  background-color: var(--color-neutral-0);
}

.padded {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media (max-width: 639px) {
  .padded {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding-left: 24px;
  padding-right: 24px;
}

@media (max-width: 639px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
